<div class="center-text container">
  <div class="row center">
    <div class="col">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Жыве Беларусь!</span>
          <p> Спасибо за Ваше пожертвование, эти деньги будут направлены на помощь пострадавшим и их семьям!</p>
        </div>
        <div class="card-action">
          <%= link_to "Отчет по оказанной помощи", "/report" %>
          <%= link_to "На главную", "/" %>
        </div>
      </div>
    </div>
  </div>

</div>
