<h2 class="center-align">BelarusHack - благотварительный агент</h2>
<div class="row">
  <p>
    Задача данного проекта избавить людей находящихся под давление или пострадавших от дополнительной нагрузки в виде общения с фондами.
    Мы возьмем на себя обязанность "благотворительного агента", который направит вашу просьбу в подходящий фонд и будет добиваться скорейшей помощи.
  </p>
</div>
<div class="row">
  <p>
    А для тех, кто хочет пожертвовать у нас представлен список доверенных фондов с указанием специализации.
  </p>
</div>
<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i><span>Оставить заявку на помощь</span></div>
    <div class="collapsible-body"><%= render "users/form", user: @user %></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i><span>Внести пожертвование</span></div>
    <div class="collapsible-body row">
      <p class="col s12">
        Здесь представлен список фондов и направления, в которых они помогают.
      </p>
      <ul class="collection row">
        <li class="collection-item">
          <a href="https://www.protectbelarus.org/">protectbelarus.org</a> - фонд помощи сотрудникам силовых структур, выступивших против насилия и режима
        </li>
        <li class="collection-item">
          <a href="https://www.facebook.com/donate/1123543824684874/1179674872398974/?fbclid=IwAR0PiAySGOmH8Pi9jHsFOaPWqYtlxV4D8-IP0bgbIt3tJ_pxzVILvmAoXug">Support For Belarus</a> - фонд помощи жертвам насилия со стороны силовиков в ходе мирных проестных акций
        </li>
        <li class="collection-item">
          Если вы знаете другие фонды, помогающие протестующим в Беларуси, напишите нам: <a href="mailto:it@deviato.co">it@deviato.co</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
