<ul class="collapsible">
<li>
  <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i><span>Оставить заявку на помощь</span></div>
  <div class="collapsible-body"><%= render 'users/form', user: @user %></div>
</li>
<li>
  <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i><span>Внести пожертвование</span></div>
  <div class="collapsible-body"></div>
</li>
