
  <div class="row">
    <form class="col s12" action="/request">
      <div class="row">
        <div class="input-field col s1">
          <p>Анонимно</p>
        </div>
        <div class="input-field col s2">
          <div class="switch inline" >
            <label>
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="first_name">Имя</label>
          <input id="first_name" type="text">
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text">
          <label for="last_name">Фамилия</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="amount" type="text" class="validate">
          <label for="amount">Сумма пожертвования</label>
        </div>
      </div>
    </form>
  </div>
